{% extends "messages.html" %}
{% block title %}End of day{% endblock %}
{% block body %}
    <script type="text/javascript" src="{{ url_for('static', filename='end-of-day.js') }}"></script>
    <h1>Enter end-of-day numbers</h1>
    <table class="table" border=1 frame=hsidesvsides rules=rowscols>
        <tr>
            <th>Task</th>
            {% for po in pos %}
                <th class="col{{ loop.index0 }}">{{ po[0] }} - {{ po[1] }} - {{ po[2] }}</th>
            {% endfor %}
        </tr>
        {% for field in form %}
            <tr>
                <td>{{ field.label }}</td>
                {% for x in range(0, length) %}
                    <td class="col{{ loop.index0 }}">{{ field }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div class="input submit">
        <input onclick="endOfDayButton();" type="submit" value="Submit"/>
    </div>
{% endblock %}