<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://unpkg.com/jquery@3.2.1/dist/jquery.js"></script>
    <script>
        $(document).ready(function(){
            setTimeout(function() {
                $('.success').fadeOut('fast');
            }, 5000); // <-- time in milliseconds
        });
    </script>
</head>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}